@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --font-title: "Luckiest Guy", cursive;
    --font-size-title: 2rem;

    --font-paragraph: "Open Sans", sans-serif;
    --font-size-paragraph: 1rem;
    --font-weight: 100;
    --font-size-subtitle: 1.5rem;
    --font-weight-subtile: 900;
    --letter-spacing: 0;
    --line-height: auto;

    --color-primary: #FFFFFF;
    --color-secondary: #23272A;
    --color-third: #F6F6F6;
}

html {
    scrollbar-width: none;
}

body {
    user-select: none;
}


/* screens Desktop */
@media screen and (min-width: 64rem) {

    :root {
        --font-size-title: 3.5rem;
        --font-size-subtitle: 2.5rem;
    }

    html {
        scrollbar-width: auto;
    }
}